.container{
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .container{
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100%;
  }
}